body {
	overflow: auto;
}

.side-panel {
	position: relative;
	width: 100%;
	height: auto;
	left: auto;
	top: auto;

	nav {
		width: 100%;
		height: auto;
		overflow: hidden;

		ul {
			width: 100%;
		}
	}
}

.content {
	position: relative;
	width: 100%;
	height: auto;
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;

	> .body {
		table, thead, tbody, tr, th, td {
			display: block;
		}

		table {
			thead {
				display: none;
			}



			tbody tr {
				position: relative;

				&:hover {
					background-image: none;
				}

				&:last-child {
					td, th {
						border-bottom: 1px solid #c7cbd1;
					}
				}

				td:last-child {
					border-bottom: 4px solid #c7d1dd;
				}

				td, th {
					position: relative;
					padding-left: 40%;
					text-align: left;
				}

				td:before, th:before {
					content: attr(data-th-text);
					position: absolute;
					width: 40%;
					left: 0;
					padding-left: 1em;
				}
			}
		}
	}
}