//@font-face {
//	font-family: Raleway;
//	src: url('/fonts/Raleway-Regular.ttf');
//}
//
//@font-face {
//	font-family: SourceSansPro;
//	src: url('/fonts/SourceSansPro-Regular.ttf');
//}
//
//@font-face {
//	font-family: Roboto;
//	src: url('/fonts/Roboto-Regular.ttf');
//}

@font-face {
	font-family: OpenSans;
	src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: OpenSans;
	font-weight: bold;
	src: url('/fonts/OpenSans-Semibold.ttf');
}

//@font-face {
//	font-family: Arimo;
//	src: url('/fonts/Arimo-Regular.ttf');
//}
//
//@font-face {
//	font-family: PTSans;
//	src: url('/fonts/PT_Sans-Web-Regular.ttf');
//}




* {
	box-sizing: border-box;
}

html, body, h1, h2, h3, form {
	margin: 0;
	padding: 0;
}

html {
	font: normal 4mm Arial;
}

html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3 {
	font-family: OpenSans;
	font-weight: normal;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

a {
	//color: #ebf0f6;
	color: #dce0e6;
	text-decoration: none;
}

.jumbo-dialog .mid .text {
	font: normal 4mm OpenSans;
}

body {
	background-color: #ebf0f6;
	color: #2c2d37;
	overflow: hidden;
}

	.top-panel {
		height: 60px;
		background-color: #1b1e24;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
		color: #dce0e6;
		font-family: OpenSans;
		line-height: 60px;
		border-bottom: 4px solid #2e3a52;

		.logo {
			width: 200px;
			float: left;
			text-align: center;
			line-height: 55px;

			img {
				vertical-align: middle;
			}
		}

		.right {
			float: right;
			padding-right: 1.8rem;

			.user {
				font-size: 0.9rem;

				img {
					vertical-align: middle;
				}
			}
		}
	}

	.side-panel {
		width: 200px;
		height: 100%;
		background-color: #2c2d37;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 60px;
		font-family: OpenSans;
		color: #dce0e6;
		overflow: hidden;

		nav {
			width: 250px;
			height: 100%;
			overflow: auto;

			ul {
				width: 200px;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					font-size: 0.9rem;
					cursor: pointer;
					border-top: 1px solid #32333d;
					border-bottom: 1px solid #23242f;

					&:last-child {
						border-bottom: 0;
					}

					&:hover, &.active {
						background-color: #3c6da9;
					}

					> a {
						width: 100%;
						height: 40px;
						line-height: 40px;
						display: block;

						&.opened {
							background-color: #294f7e;
						}

						> span {
							display: block;
							height: 16px;
							width: 16px;
							float: left;
							text-align: center;
							margin: 0 10px;

							img {
								vertical-align: middle;
							}
						}
					}

					> ul {
						height: 0;
						overflow: hidden;
						background-color: #283143;

						li {
							border-bottom: 1px solid #2e3a52;

							//&:last-child {
							//	border: 0;
							//}

							a {
								display: block;
								height: 40px;
								line-height: 40px;
								padding-left: 40px;
							}
						}

					}
				}
			}
		}
	}

	.content {
		position: absolute;
		top: 60px;
		right: 0;
		bottom: 0;
		left: 200px;
		overflow-y: auto;
		//border-top: 4px solid #454862;//#3c6da9;//#c7d1dd;

		hr {
			height: 3px;
			border-top: 1px solid #aaa;
			background-color: #ccc;
			border-bottom: 1px solid #fff;
			border-radius: 1px;

		}

		a {
			color: #2c2d37;

			&:hover {
				color: #3c6da9;
			}
		}

		> .head {
			background-color: #fff;
			padding: 10px 20px;
			border-bottom: 2px solid #ddd;
			color: #555;

			div {
				font-size: 0.8rem;
			}

			h2 {
				font-size: 1.6rem;
				margin: 10px 0 5px 0;
			}

			h3 {
				font: normal 0.8rem Arial;
			}
		}

		> .body {
			padding: 20px;

			.white-block {
				background-color: #fff;
				padding: 10px;

				.head {
					margin-top: -10px;
					height: 40px;
					line-height: 40px;
					border-bottom: 1px solid #ddd;
					margin-bottom: 20px;

					h2 {
						font-weight: normal;
						font-size: 1.2rem;
						margin: 10px 0 5px 0;
					}
				}
			}

			.hint {
				font-size: 0.8em;
				color: #ff9223;
				cursor: help;
				border-bottom: 1px dashed #ff9223;
			}

			table {
				width: 100%;
				border-collapse: collapse;
				margin: 15px 0;

				td, th {
					padding: 5px;
					vertical-align: middle;
				}

				thead {
					td, th {
						height: 50px;
						font-weight: normal;
						text-transform: uppercase;
						font-size: 0.9rem;
						background-color: #f5f5f5;
					}

					tr:last-child td, tr:last-child th {
						border-bottom: 4px solid #c7d1dd;
					}
				}

				tbody {
					td, th {
						border-bottom: 1px solid #c7cbd1;
					}

					tr:hover {
						background-image: url('/images/overlay-5perc.png');
					}

					tr:nth-child(2n) {
						background-color: #f2f5fa;
					}

					tr:last-child {
						td, th {
							border-bottom: 0;
						}
					}
				}
			}

			table.form {
				tr, td, th {
					background: none !important;
					border: 0 !important;
				}
				th, td {
					text-align: left;
				}
				th {
					width: 30%;
				}
			}

			input[type="text"], input[type="password"] {
				width: 100%;
				height: 30px;
				line-height: 30px;
				border: 1px solid #c7cbd1;
				padding: 0 0.7em;
			}

			select {
				width: 20em;
				//height: 30px;
				line-height: 30px;
				border: 1px solid #c7cbd1;
				padding: 0 0.7em;

				&:not([multiple="multiple"]) {
					height: 30px;
				}
			}

			textarea {
				width: 100%;
				height: 20em;
				line-height: 30px;
				border: 1px solid #c7cbd1;
				padding: 0 0.7em;
			}

			input[type="submit"], input[type="button"], button {
				height: 30px;
				padding: 0 3em;
				line-height: 30px;
				border: 1px solid #c7cbd1;
				background-color: #1867a9;
				//background-color: #4ba74b;
				color: #fff;
				border-radius: 3px;
				cursor: pointer;

				&:hover {
					background-color: #17538f;
					//background-color: #4a994a;
				}
			}

			.close-editor-btn {
				display: table;
				margin: 0.5em 1em;
				cursor: pointer;
				border-bottom: 1px dashed #1b1e24;
				font-size: 0.8em;
			}
		}
	}