html, body, h1, h2, h3, form, ul {
	margin: 0;
	padding: 0;
}

html, body {
	//width: 100%;
	//height: 100%;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
}

@font-face {
	font-family: 'Euro';
	src: url('./fonts/eurof55.ttf');
}

a {
	color: #93d18b;
	text-decoration: none;

	&:hover {
		color: #ddd;
	}
}

body {
	background: #515151;
	text-align: center;
	font: normal 4mm Euro;
	font-family: 'Euro', 'Arial', 'Verdana', 'Tahoma, Times New Roman', sans-serif;
	color: #fff;
}
	div.top-line {
		width: 100%;
		height: 60px;
		background-color: #d2c5a9;
		position: fixed;
		top: 0;
		left: 0;

		header {
			width: 900px;
			height: 60px;
			text-align: left;
			overflow: hidden;
			margin: 0 auto;

			@media (max-width: 900px) {
				width: 100%;
			}

			hgroup {
				margin: 5px 0 5px 5px;
				float: left;
			}
				h1 {
					font-size: 2rem;
				}
				h2 {
					font-size: 1rem;
				}

			.basket {
				float: right;
				text-align: right;
			}
		}
	}

	div.container {
		width: 1000px;
		margin: 0 auto;

		@media (max-width: 1000px) {
			width: 100%;
		}

		main {
			margin: 10px 30px;
			overflow: hidden;

			label, th {
				font-weight: normal;
			}

			span.form-error {
				color: #ff8e8b;
			}

			h2 {
				margin: 2px 0 6px 0;
			}

			section {
				margin: 0 auto;

				p {
					text-align: justify;
				}
			}
		}
	}
