{block contentHead}
	<div>
		<img src="/images/admin/icons/dark-home.png" alt=""> Nástěnka | {use title}
	</div>
	<h2>{define title}Přidání galerie{/define}</h2>
{/block}

{block content}
	<div class="white-block">
		{*<div class="head">*}
			{*<h2>Tabulka s přehledem vytvořených katalogů</h2>*}
		{*</div>*}
	</div>
{/block}