/**
 * Blackscreen je element používaný k zatmavení celé obrazovky
 */
.jumbo-blackscreen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.7);
	display: none;
	z-index: 90000;
}

/*
 * Dialog, který je vytvářen uvnitř blackScreen
 */
.jumbo-dialog {
	width: 400px;
	/*background: rgba(40, 40, 40, 0.9);*/
	background-color: #2c2d37;
	box-shadow: 7px 7px 5px 0 rgba(5, 5, 5, 0.3);
	border-radius: 3px;
	position: fixed;
	left: calc(50% - 200px);
	top: 70px;
	overflow: hidden;
	font: normal 10pt Arial;
	/*z-index: 99999;*/
	/*display: none;*/
}

	@media all and (max-width: 400px) {
		.jumbo-dialog {
			width: 90%;
			left: 5%;
			top: 10%;
		}
	}

	.jumbo-dialog .top {
		height: 30px;
		/*background: url('/rjlib/images/dialog-top-bg.png') 0 0 repeat-x;*/
		/*background-color: #141523;*/
		background-color: #1b1e24;
		text-align: left;
		position: relative;
	}
		.jumbo-dialog .top .title {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #bbb;
			font: normal 11pt Arial;
			line-height: 30px;
			position: absolute;
			padding-left: 5px;
		}

		.jumbo-dialog .top .close {
			position: absolute;
			display: block;
			width: 10px;
			height: 10px;
			background: url('/rjlib/images/dialog-close-cross.png') 0 0 no-repeat;
			cursor: pointer;
			right: 10px;
			top: 10px;
		}
	.jumbo-dialog .top .close:hover {
		background-position: 0 -10px;
	}

	.jumbo-dialog .mid .tabs {
		display: none;
		padding: 4px 5px;
		overflow: hidden;
	}
	.jumbo-dialog .mid .tabs div {
		height: 20px;
		padding: 0 5px;
		float: left;
		margin-left: 2px;
		font: normal 10pt Arial;
		background: #999;
		line-height: 20px;
		border-radius: 3px;
		cursor: pointer;
	}
	.jumbo-dialog .mid .tabs div.tab-open {
		background: #aaa;
	}

	.jumbo-dialog .mid .text {
		padding: 10px 5px;
		color: #ddd;
		font: normal 10pt Arial;
	}
	.jumbo-dialog.jumbo-dialog-confirm .top,
	.jumbo-dialog.jumbo-dialog-prompt .top {
		display: none;
	}

	.jumbo-dialog.jumbo-dialog-alert .mid .text,
	.jumbo-dialog.jumbo-dialog-confirm .mid .text,
	.jumbo-dialog.jumbo-dialog-prompt .mid .text {
		text-align: center;
	}
	.jumbo-dialog.jumbo-dialog-prompt .mid .text input {
		width: 95%;
		padding: 5px 10px;
		background: #e3e3e3;
		color: #333;
		font: normal 10pt Arial;
		border: 1px solid #bbb;
		/*box-shadow: inset 0 0 1px 1px #f6f6f6;*/
		border-radius: 3px;
		margin: 1em 0;
		box-sizing: border-box;
	}
	.jumbo-dialog.jumbo-dialog-confirm .mid .text .buttons,
	.jumbo-dialog.jumbo-dialog-prompt .mid .text .buttons {
		/*padding: 5px;*/
		padding: 15px 0 5px 0;
	}
	.jumbo-dialog.jumbo-dialog-confirm .mid .text .buttons button,
	.jumbo-dialog.jumbo-dialog-prompt .mid .text .buttons button {
		padding: 5px 15px;
		background: #e3e3e3;
		color: #333;
		font: normal 10pt Arial;
		border: 1px solid #bbb;
		box-shadow: inset 0 0 1px 1px #f6f6f6;
		border-radius: 3px;
		margin: 0 3px;
		cursor: pointer;
	}
	.jumbo-dialog.jumbo-dialog-confirm .mid .text button:hover,
	.jumbo-dialog.jumbo-dialog-prompt .mid .text button:hover {
		background: #ccc;
		/*border-color: #999;*/
	}


/**
 * RangeSlider
 */
div.jumbo-range-slider-wrap {
	position: relative;
}
	.jumbo-range-slider-wrap div.jumbo-range-slider-track {
		 position: absolute;
		 top: 5px;
		 left: 0;
		 background: #ddd;
		 height: 8px;
	 }
	.jumbo-range-slider-wrap.vertical div.jumbo-range-slider-track {
		top: 0;
		left: 5px;
		width: 8px;
	}
	.jumbo-range-slider-wrap div.jumbo-range-slider-rider {
		position: absolute;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		background: url('/rjlib/images/slider-knob.png') 0 0 no-repeat;
		cursor: pointer;
	}

/**
 * ColorPicker
 */
div.jumbo-color-picker-wrap {
	width: 220px;
	border-radius: 2px;
	padding: 10px;
	text-align: left/*center*/;
	overflow: hidden;
}
	.jumbo-color-picker-wrap canvas {
		display: block;
		/*margin: 0 auto;*/
	}
	.jumbo-color-picker-wrap canvas.vyber-bile {
		/*margin-top: -120px;*/
		/*margin-top: 10px;
		border-radius: 2px;*/
		position: absolute;
		margin: -168px 0 0 53px;
	}

	.jumbo-color-picker-wrap .barva-pointer {
		width: 22px;
		height: 22px;
		background: url('/rjlib/images/color-pick-pointer.png');
		position: absolute;
		margin: -218px 0 0 99px;
		cursor: pointer;
	}


div.jumbo-checkbox {
	width: 70px;
	height: 30px;
	background: url('/rjlib/images/checkbox.png') 0 -30px no-repeat;
	cursor: pointer;
}
	.jumbo-checkbox.yes {
		background-position: 0 0;
	}
	.jumbo-checkbox.disabled {
		background-position: 0 -90px;
	}
	.jumbo-checkbox.yes.disabled {
		background-position: 0 -60px;
	}
	div.jumbo-checkbox.zap-vyp {
		background-image: url('/rjlib/images/checkbox-zap-vyp.png');
	}


div.jumbo-loading {
	width: 100%;
	text-align: center;
}
	.jumbo-loading div {
		width: 64px;
		height: 64px;
		margin: 50px auto;
		background: url('/rjlib/images/anim-loading.gif');
		background-size: 100%;
	}